@import '../../../theme/web/custom-variables';

html,
body{
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', -apple-system, sans-serif;
  font-size: 14px;
  background-color: #8c8c8c;
}

.ax-app {
  width: 100vw !important;
  height: 100vh !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden !important;
  font-family: 'Roboto', -apple-system, sans-serif !important;
  font-size: 14px !important;
  background-color: #8c8c8c !important;

  > .mx-placeholder,
  > .mx-dataview {
    width: 100% !important;
    height: 100% !important;
    > .mx-dataview-content {
      width: 100% !important;
      height: 100% !important;
    }
  }

  .ax-page {
    display: relative !important;
    width: 100% !important;
    height: 100% !important;
    overflow: auto;

    > .mx-placeholder,
    > .mx-dataview {
      width: 100% !important;
      height: 100% !important;
      > .mx-dataview-content {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }

  .ax-full-box {
    width: 100% !important;
    height: 100% !important;

    > .mx-placeholder,
    > .mx-dataview {
      width: 100% !important;
      height: 100% !important;
      > .mx-dataview-content {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }

  .ax-scrollable {
    overflow: auto;
  }
  .ax-scrollable-x {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .ax-scrollable-y {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.ax-modal {
  max-width: calc(100vw - 80px);
  max-height: calc(100vh - 80px);
  
  &.ax-modal-small {
    width: 480px;
  }
  &.ax-modal-medium {
    width: 620px;
  }
  &.ax-modal-large {
     width: 880px;
  }

  .modal-header {
    height: 32px;
    padding: 8px !important;
    background: rgb(231 229 228) !important;
    color: rgb(38 38 38) !important;

    h4 {
      font-size: 14px;
      font-weight: 500;
      line-height: 1;
    }
  }
  .modal-body {
    .mx-placeholder {
      width: 100%;
      height: 100%;
    }
  }
}
