@import "../../../theme/web/custom-variables";

html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family:
    "Roboto",
    -apple-system,
    sans-serif;
  font-size: 14px;
  background-color: #8c8c8c;
}

.ax-spacer {
  display: inline-block;
  width: 8px;
}

.ax-app {
  width: 100vw !important;
  height: 100vh !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden !important;
  font-family:
    "Roboto",
    -apple-system,
    sans-serif !important;
  font-size: 14px !important;
  background-color: #8c8c8c !important;

  .mx-placeholder,
  .mx-dataview {
    width: 100% !important;
    height: 100% !important;
    .mx-dataview-content {
      width: 100% !important;
      height: 100% !important;
    }
  }

  .reset-full-w {
    width: auto !important;
  }
  .reset-full-h {
    height: auto !important;
  }

  .ax-page {
    display: relative !important;
    width: 100% !important;
    height: 100% !important;
    overflow: auto;

    > .mx-placeholder,
    > .mx-dataview {
      width: 100% !important;
      height: 100% !important;
      > .mx-dataview-content {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }

  .ax-full-box {
    width: 100% !important;
    height: 100% !important;

    > .mx-placeholder,
    > .mx-dataview {
      width: 100% !important;
      height: 100% !important;
      > .mx-dataview-content {
        width: 100% !important;
        height: 100% !important;
      }
    }

    > .row {
      height: 100% !important;
      > .col {
        height: 100% !important;
        padding-right: 2px;
        padding-left: 2px;
      }
    }
  }

  .ax-scrollable {
    overflow: auto;
  }
  .ax-scrollable-x {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .ax-scrollable-y {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.ax-modal {
  max-width: calc(100vw - 80px);
  max-height: calc(100vh - 80px);

  &.ax-modal-small {
    width: 480px;
  }
  &.ax-modal-medium {
    width: 620px;
  }
  &.ax-modal-large {
    width: 880px;
  }

  .modal-header {
    height: 32px;
    padding: 8px !important;
    background: rgb(231 229 228) !important;
    color: rgb(38 38 38) !important;

    h4 {
      font-size: 14px;
      font-weight: 500;
      line-height: 1;
    }
  }
  .modal-body {
    .mx-placeholder {
      width: 100%;
      height: 100%;
    }
  }

  .ax-modal-content {
    padding: 8px;
    max-height: 100%;
    height: calc(100% - 45px);
    overflow-y: auto;
  }

  .ax-modal-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    padding: 8px;
    border-top: solid 1px #ced0d3;
  }
}

.ax-info-table {
  border-collapse: separate; /* Required for border-radius */
  border-spacing: 0; /* Removes space between cells */
  border-radius: 4px;

  tr {
    th {
      padding: 0px 8px !important;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border: 1px solid #f0f0f0;

      label {
        padding: 0;
        margin: 0;
        font-size: 14px;
        list-style: 1;
        font-weight: 500;
        color: #595959;
      }
    }

    td {
      padding: 0px 8px !important;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border: 1px solid #f0f0f0;

      .form-group {
        margin-bottom: 0;
      }
    }
  }

  /* Round top-left corner (typically the first header cell) */
  tr:first-child th:first-child,
  tr:first-child td:first-child {
    border-top-left-radius: 4px !important;
  }

  /* Round top-right corner (typically the last header cell) */
  tr:first-child th:last-child,
  tr:first-child td:last-child {
    border-top-right-radius: 4px !important;
  }

  /* Round bottom-left corner */
  tr:last-child th:first-child,
  tr:last-child td:first-child {
    border-bottom-left-radius: 4px !important;
  }

  /* Round bottom-right corner */
  tr:last-child th:last-child,
  tr:last-child td:last-child {
    border-bottom-right-radius: 4px !important;
  }
}
